
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Dapenbi Auto Data Migration Tools</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        
        <div class="jumbotron text-center">
  <div class="container ">
    <h1 class="display-4"><a th:href="@{/}">Dapenbi Auto Data Migration Tools</a></h1>
    <p class="lead">Tools otomatis untuk mengekstrak data ke format CSV sekaligus menyimpan kedalam Database MySQL</p>
  </div>
</div>
        
        <div class="row ">
        	<div class="col col-lg-6 col-sm-12">
            
                <div class="row mb-5">
  <div class="col col-lg-6  col-sm-12 mt-2">
    <div class="card">
      <div class="card-body">

        <form id ="" th:action ="@{/mulai}"  method="post">        
      <button class="btn btn-primary btn-lg btn-block" th:disabled="${start}" >MULAI</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col col-lg-6  col-sm-12 mt-2">
    <div class="card">
      <div class="card-body">

      	<form id ="" th:action ="@{/berhenti}"  method="post">        
      <button class="btn btn-danger btn-lg btn-block" th:disabled="${stop}" >BERHENTI</button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="col text-center mt-4 mx-lg-0 mx-4" th:if="${isNotFirst}">
  		<div class="alert alert-warning alert-dismissible fade show " role="alert">
   <strong th:text="${waktu}"></strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  </div>
  
  </div>
            
            </div>	
        	
        	<div class="col col-lg-6 col-sm-12 px-5 mt-4 text-center">
        		   <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">NIP</th>
      <th scope="col">NAMA</th>
      <th scope="col">TTL</th>
      <th scope="col">ALAMAT</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="user: ${users}">
  <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.nip}">NIP</td>
                    <td th:text="${user.name}">Nama</td>
                    <td th:text="${user.dob}">Tanggal Lahir</td>
                    <td th:text="${user.address}">Alamat</td>
                </tr>
  </tbody>
</table>


        	</div>
        	
        	<form id ="" th:action ="@{/cobalagi}"  method="post">        
      <button class="btn btn-danger btn-lg btn-block"  >Coba</button>
        </form>
        	
        </div>
        
    </div>
</body>
</html>